body {
   padding: 100px;
   font-size: 16pt;
   background-color: #D8EBE1;
}

h1 {
    padding: 20px 0px;
    color: #592712;
    font-size: 40pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    padding: 20 px 0 px;
    color: #A64921;
    font-size: 28pt;
}

p {
    font-size: 20pt;
}

img {
    width: 30%;
    padding: 10px;
    margin: 20px 0px;
    border: double #592712 5px;
    border-radius: 10px;
}

img:hover {
    border-style: groove;
}

div:nth-child(even) img {
    border: ridge #592712 5px;
}

div:nth-child(even) img:hover {
    border-style: groove;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav li {
    display: inline-block;
    padding: 10px;
    margin: 10px;
}

nav a:link {
    text-decoration: none;
    color: #A64921;
}

nav a:visited {
    color: #A64921;
}

nav a:hover {
    color: #8C381C;
}

nav a:active {
    color: #732E17;
}

nav a.current {
    color: #592712;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.skip {
    position: absolute;
    left: -1000px;
}

.skip:focus {
    left: 0px;
}